---
layout: layouts/base.njk
---

<div class="container bg-black">
    <div class=" bg-black text-white d-flex h-100p bg-phil-particles bg-pos-phil bg-no-rp">
        <!-- header of every page -->
        {% include 'header.njk' %}

        <div class="main-content d-flex flex-column align-items-left m-10">
            <p class="mt-180 text-seagreen pb-10">About</p>
            <hr class="w-80 bd-none bd-top"/>
            <h1 class="ts-35 fw-light pt-10 mr-150">What is the Filecoin Foundation?</h1>
            <p class="ts-22 fw-light line-height-15 mt-40 mr-150 pb-20">
                The Filecoin Foundation is an independent organization dedicated to supporting Filecoin, an open source, decentralized storage network designed to preserve humanity’s most important information.
            </p>
            <h1 class="ts-35 fw-light pt-10 mr-150">What is Filecoin?</h1>
            <p class="ts-22 fw-light line-height-15 mt-40 mr-150 pb-20">
                Filecoin is a peer-to-peer network that stores files, with built-in economic incentives to ensure files are stored reliably over time. The mission of Filecoin is to create a decentralized, efficient, and robust foundation for humanity’s information.
            </p>
            <h1 class="ts-35 fw-light pt-10 mr-150">How is the Filecoin Foundation related to Filecoin? </h1>
            <p class="ts-22 fw-light line-height-15 mt-40 mr-150 pb-20">
                Filecoin is not controlled by anyone; it is a decentralized network built and maintained by thousands of people and organizations all over the world. The Filecoin Foundation facilitates governance of the Filecoin network, funds critical development projects, supports the growth of the Filecoin ecosystem, and advocates for Filecoin and the Decentralized Web.</p>
            </p>
        </div>
    </div>
</div>
{% include 'footer.njk' %}
