---
layout: layouts/base.njk
---

<div class="container bg-black bg-comnt-particles-2 bg-no-rp bg-pos-com-2">
    <div class="text-white d-flex h-100p bg-comnt-particles bg-no-rp bg-pos-com">
        {% include 'header.njk' %}

        <div class="main-content d-flex flex-column align-items-left m-10">
            <h4 class="mt-180 text-seagreen pb-10">Community</h4>
            <hr class="w-80 bd-none bd-top">
            <h1 class="ts-35 fw-light pt-10 mr-150">Filecoin Community</h1>
            <p class="ts-22 fw-light line-height-15 mt-40 mr-150 pb-20">
                Learn how to get involved in the Filecoin Community
                The Filecoin community includes tens of thousands of developers, technologists, users, token
                holders,
                and enthusiasts all over the world. There are many ways to get involved in the Filecoin community:
            </p>

            <ul class="list-style-type-none line-height-3">
                <li> <span class="text-seagreen pr-10">1)</span> Attend an <a href="https://ignite.fil.events">event</a></li>
                <li><span class="text-seagreen pr-10">2)</span> Join a <a href="https://filecoin.io/blog/filecoin-virtual-community-meetup-recap/">meetup</a> group</li>
                <li class="mr-150"><span class="text-seagreen pr-10 ">3)</span> 
                    Contribute to the Filecoin project. You can dive into our codebase (<a href="https://github.com/filecoin-project/go-filecoin">go-filecoin</a>, <a href="https://github.com/filecoin-project/rust-fil-proofs">rust-fil-proofs</a>) and contribute to the Filecoin Project by filing issues and submitting PRs
                </li>
                <li><span class="text-seagreen pr-10">4)</span>
                Participate in one of many online <a href="https://discuss.filecoin.io/">forums</a> about Filecoin
                </li>
                <li><span class="text-seagreen pr-10">5)</span> Help <a href="https://docs.filecoin.io/how-to/install-filecoin/">mine</a> or <a href="https://docs.filecoin.io/build/">build</a> on the Filecoin protocol</li>
                <li><span class="text-seagreen pr-10">6)</span> Learn more with tutorials on <a href="https://proto.school/tutorials?course=filecoin">Protoschool</a></li>
            </ul>

            <!-- Resources Section -->
            <h4 class="text-seagreen pb-10">Resources</h4>
            <hr class="w-80 bd-none bd-top">
            <div class=" d-flex ml-200 mr-150 f-wrap ">
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">Filecoin Documentation</h1>
                    <p class="ts-14 fw-light pt-10 pb-20">
                        Filecoin project documentation homepage offers all the necessary resources to learn about Filecoin, the software and the tools to contribute to the network.
                    </p>
                    <a href="https://docs.filecoin.io" class="text-decoration-none border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30">
                        Read More
                    </a>
                </div>
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">Filecoin Github</h1>
                    <p class="ts-14 fw-light pt-10 pb-20">Contribute to Filecoin and help improve it by engaging in the Filecoin Github repository. </p>
                    <a href="https://github.com/filecoin-project" class="text-decoration-none border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30">
                        Read More
                    </a>
                </div>
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">Filecoin 2020 Mainnet Ignition & Liftoff</h1>
                    <p class="ts-14 fw-light pt-10 pb-20">This covers the timeline of the Filecoin Mainnet Ignition & Liftoff.</p>
                    <a href="https://filecoin.io/blog/mainnet-ignition/" class="text-decoration-none border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30">
                        Read More
                    </a>
                </div>
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">Filecoin Network Status</h1>
                    <p class="ts-14 fw-light pt-10 pb-20">This dashboard provides the latest update of the FIlecoin Network.</p>
                    <a href="https://stats.testnet.filecoin.io/d/z6FtI92Zz/chain?orgId=1&refresh=45s&from=now-30m&to=now&kiosk" class="text-decoration-none border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30">
                        Read More
                    </a>
                </div>
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">Filecoin Chain</h1>
                    <p class="ts-14 fw-light pt-10 pb-20">
                        This dashboard provides the latest update of the Filecoin Chain.
                    </p>
                    <a href="https://filscan.io/#/home" class="text-decoration-none border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30">
                        Read More
                    </a>
                </div>
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">Filecoin Forums</h1>
                    <p class="ts-14 fw-light pt-10 pb-20">
                        This is a public forum to discuss anything relating to the Filecoin protocol, implementation, community, and more. 
                    </p>
                    <a href="https://discuss.filecoin.io/" class="text-decoration-none border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30">
                        Read More
                    </a>
                </div>
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">Filecoin Research</h1>
                    <p class="ts-14 fw-light pt-10 pb-20">
                        This website describes breakthroughs underpinning the Filecoin protocol, as well as future areas of exploration.
                    </p>
                    <a href="https://research.filecoin.io/" class="text-decoration-none border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30">
                        Read More
                    </a>
                </div>
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">
                        Filecoin Cryptoeconomics Overview
                    </h1>
                    <p class="ts-14 fw-light pt-10 pb-20">
                        This report describes the components of the Filecoin economy and how they interact.
                    </p>
                    <a href="https://filecoin.io/2020-engineering-filecoins-economy-en.pdf" class="text-decoration-none border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 ">
                        Read More
                    </a>
                </div>
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">
                        Filecoin Tutorials (ProtoSchool)
                    </h1>
                    <p class="ts-14 fw-light pt-10 pb-20">
                        This is a self-guided interactive Filecoin tutorial designed to introduce decentralized web concepts, protocols, and tools.
                    </p>
                    <a href="https://proto.school/tutorials?course=filecoin" class="text-decoration-none border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30">
                        Read More
                    </a>
                </div>
                <div class="p-10 w-240 mr-25">
                    <h1 class="ts-25 fw-light pt-10 pb-20">Filecoin Blog</h1>
                    <p class="ts-14 fw-light pt-10 pb-20">
                        Stay updated on the latest Filecoin announcements.
                    </p>
                    <a href="https://filecoin.io/blog/"
                        class="text-decoration-none sborder-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30">
                        Read More
                    </a>
                </div>
            </div>
            <h1 class="ts-22 fw-light pt-10 mr-150">Grants</h1>
            <p class="ts-18 fw-light line-height-15 mt-40 mr-150 pb-20">
The Filecoin Foundation is seeking proposals for Wave 5 of the Dev Grant program. Wave 5 proposals are due this Thursday Oct 1st, 2020 at 23:59 PDT for priority consideration! (Proposals submitted later will be considered as capacity allows.) View our list of Wave 5 RFPs below.  
            </p>
            <a href="https://github.com/filecoin-project/devgrants/blob/master/rfps/new-wave-5-rfps.md" class="border-none text-white bg-black br-radius-100 br-2 pr-50 pl-50 pt-10 pb-10 mt-30 text-decoration-none"> Apply for a Grant
            </a>
        </div>
    </div>
</div>
{% include 'footer.njk' %}
