---
layout: layouts/base.njk
---

<div class="container bg-black">
    <div class=" bg-black text-white d-flex h-100p bg-phil-particles bg-pos-phil bg-no-rp">
        <!-- header of every page -->
        {% include 'header.njk' %}

        <div class="main-content d-flex flex-column align-items-left m-10">
           <h4 class="mt-180 text-seagreen pb-10">Contact</h4>
            <hr class="w-80 bd-none bd-top">
            <h1 class="ts-35 fw-light pt-10 mr-150">Contact us!</h1>
            <p class="ts-22 fw-light line-height-15 mt-40 mr-150 pb-20">
                For questions on the Filecoin Foundation, please email us at <a href="mailto:hello@fil.org">hello@fil.org.</a>
            </p>
            <ul class="list-style-type-none ">

                <li class="pb-20 d-flex align-items-center">
                    <img src="/svg/twitter.svg" alt="">
                    <a href="https://twitter.com/Filecoin" class="text-decoration-none text-white pl-50 ts-16">Filecoin
                        Twitter (PL)</a>
                </li>
                <li class="pb-20 d-flex align-items-center"><img src="/svg/youtube.svg" alt="">
                    <a href="https://www.youtube.com/c/FilecoinProject/about" class="text-decoration-none text-white pl-50 ts-16">Filecoin
                        Youtube (PL)</a>
                </li>
                <li class="pb-20 d-flex align-items-center"><img src="/svg/wechat.svg" alt="">
                    <a href="https://weixin.qq.com/r/1xz54Y-EctINrcuC90nF" class="text-decoration-none text-white pl-50 ts-16">Filecoin
                        Bulletin (PL)</a>
                </li>
                <li class="pb-20 d-flex align-items-center"><img src="/svg/matrix.svg" alt="">
                    <a href="https://riot.im/app/#/group/+filecoin:matrix.org" class="text-decoration-none text-white pl-50 ts-16">Filecoin
                        Matrix (PL)</a>
                </li>
                <li class="pb-20 d-flex align-items-center"><img src="/svg/slack.svg" alt="">
                    <a href="https://app.slack.com/client/TEHTVS1L6" class="text-decoration-none text-white pl-50 ts-16">Filecoin
                        Slack (PL)</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include 'footer.njk' %}
