---
layout: base
---

<h1 style="margin-top:25vh">
    Accelerating the Filecoin ecosystem, designed to store humanity’s most important information
</h1>

<p class="weight-400">
The Filecoin Foundation (FF) is an independent organization dedicated to developing Filecoin and related technologies. The Foundation does this by coordinating and supporting the creation and improvement of open source software and open protocols for decentralized data storage and retrieval networks.
</p>

<p class="weight-400">
You can dive deeper into the Foundation's mission and explore key supporters through the videos below.  
</p>

<br> </br>
<div class="video-con">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Sakannch1Dw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br> </br>

<div class="video-con">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6OY4xAs3Grg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



