---
layout: base
---

<h1 style="margin-top:25vh">
    Accelerating the Filecoin ecosystem designed to store humanity’s most important information
</h1>

<p class="weight-400">
The Filecoin Foundation (FF) is an independent organization dedicated to developing Filecoin and related technologies. The Foundation does this by coordinating and supporting the creation and improvement of open source software and open protocols for decentralized data storage and retrieval networks.
</p>

<p class="weight-400">
Join us October 19-23 for <b> <a href="https://liftoff.filecoin.io/">Filecoin Liftoff Week</a>  </b>, a celebration of Filecoin’s mainnet launch and an exploration of the future of the network. The virtual conference will consist of workshops, panels, presentations, and demos, with each day focusing on a different topic, including mining, dapps, data-storage, and the future of Filecoin.
</p>

<p><center><a href="https://liftoff.filecoin.io/" class="Button">RSVP</a></center></p>

<div class="video-con">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rqusEz7O53Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


