---
layout: layouts/base.njk
---

<div class="container bg-building bg-black text-white d-flex h-100p bg-cover">
    <!-- header of every page -->
    {% include 'header.njk' %}

    <div class="main-content d-flex flex-column align-items-left m-10">
        <hr class="mt-300 w-50 bd-none bd-top" />
        <h1 class="ts-35 fw-light pt-10 mr-150">
            Preserving humanity’s most important information
        </h1>
        <p class="ts-22 fw-light line-height-15 mt-40 mr-150">
            The Filecoin Foundation is dedicated to supporting Filecoin, an open source, decentralized storage network designed to preserve humanity’s most important information.
        </p>

    </div>

</div>
{% include 'footer.njk' %}
