---
layout: layouts/base.njk
---

<div class="container bg-black">
    <div class="bg-black text-white d-flex h-100p bg-phil-particles bg-pos-phil bg-no-rp">
        <!-- header of every page -->
        {% include 'header.njk' %}

        <div class="main-content d-flex flex-column align-items-left m-10">
            <h4 class="mt-180 text-seagreen pb-10">Philosophy</h4>
            <hr class="w-80 bd-none bd-top">
            <h1 class="ts-35 fw-light pt-10 mr-150">What is the Filecoin Foundation’s philosophy?</h1>
            <p class="ts-22 fw-light line-height-15 mt-40 mr-150">
                The Filecoin Foundation does not “own” the <a href="https://filecoin.io">Filecoin</a> network, “operate” it, or “manage” it. The Foundation is one of many organizations that cares deeply about Filecoin, its potential, and the values it represents. However, the Foundation has a unique position within the Filecoin ecosystem to cultivate research, development, and community engagement. In addition to funding development of many significant projects related to Filecoin, the Foundation supports a vibrant, decentralized ecosystem with many independent organizations to support Filecoin’s long-term success. The Foundation’s role is to find ways for the Filecoin community to solve the problems we face as a community, and help facilitate collective action.     
            </p>
        </div>
    </div>
</div>
{% include 'footer.njk' %}
