---
layout: base
---

<div class="container bg-black">
    <div class=" bg-black text-white d-flex h-100p bg-phil-particles bg-pos-phil bg-no-rp">
        <!-- header of every page -->

        <div class="main-content d-flex flex-column align-items-left m-10">
           <h4 class="mt-180 text-seagreen pb-10">Teams</h4>
            <hr class="w-80 bd-none bd-top">
            <h1 class="ts-35 fw-light pt-10 mr-150">Team members </h1>
            <!-- Person on left -->
            <div class=" d-flex mr-150 mt-40">
                <div class="b d-flex flex-column align-items-center">
                    <img src="/svg/image.svg" class="br-50 p-10" alt="">
                    <p>Clara T</p>
                    <p>Person role</p>
                    <hr class="w-50 bd-none bd-top">
                </div>
                <div class=" d-flex flex-column just-content-left">
                    <h1 class="ts-22 fw-light pt-10 pb-20">Clara T </h1>
                    <p class="ts-18 fw-light line-height-15 pb-20">
                        Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus
                        mollis interdum. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus
                        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
            </div>
            <!-- Person on right -->
            <div class=" d-flex mr-150 mt-40">
                <div class=" d-flex flex-column just-content-left">
                    <h1 class="ts-22 fw-light pt-10 mr-150 pb-20">Clara T </h1>
                    <p class="ts-18 fw-light line-height-15 pb-20">
                        Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus
                        mollis interdum. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus
                        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
                <div class=" d-flex flex-column align-items-center">
                    <img src="/svg/image.svg" class="br-50 p-10" alt="">
                    <p>Clara T</p>
                    <p>Person role</p>
                    <hr class="w-50 bd-none bd-top">
                </div>
            </div>
            <!-- Person on left -->
            <div class=" d-flex mr-150 mt-40 mb-50">
                <div class=" d-flex flex-column align-items-center">
                    <img src="/svg/image.svg" class="br-50 p-10" alt="">
                    <p>Clara T</p>
                    <p>Person role</p>
                    <hr class="w-50 bd-none bd-top">
                </div>
                <div class=" d-flex flex-column just-content-left">
                    <h1 class="ts-22 fw-light pt-10 pb-20">Clara T </h1>
                    <p class="ts-18 fw-light line-height-15 pb-20">
                        Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus
                        mollis interdum. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus
                        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
