---
layout: layouts/base.njk
---

<h1>Style Guide</h1>
<h3>Typography</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum hendrerit velit, quis ullamcorper sem congue ac. Quisque id magna rhoncus, sodales massa vel, vestibulum elit. Duis ornare accumsan egestas. Proin maximus lacus interdum leo molestie convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut iaculis risus eu felis feugiat, eu mollis neque elementum. Donec interdum, nisl id dignissim iaculis, felis dui aliquet dui, non fermentum velit lectus ac quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    <strong>This is strong,</strong>
    this is normal,
    <b>this is just bold,</b>
    <em>and this is emphasized!</em>
    And heck,
    <a href='/'>here</a>'s a link.
</p>

<blockquote cite='https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote'>
    'The HTML blockquote Element (or HTML Block Quotation Element) indicates that the enclosed text is an extended quotation. Usually, this is rendered visually by indentation (see
    <a href='https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote#Usage_notes'>Notes</a >
    for how to change it). A URL for the source of the quotation may be given using the
    <code>cite</code>
    attribute, while a text representation of the source can be given using the
    <code>&lt;cite&gt;</code>
    cite element.'

    <footer>
        <cite>MDN, 'The Block Quotation element'</cite>
    </footer>
</blockquote>

<q>Quotes (&lt;q&gt;) share the same style as blockquotes.</q>

<p>Use &lt;mark&gt; to
    <mark>highlight the important stuff</mark>.</p>

<ul>
    <li>Unordered list item 1</li>
    <li>Unordered list item 2</li>
    <li>Unordered list item 3</li>
</ul>
<ol>
    <li>Ordered list item 1</li>
    <li>Ordered list item 2</li>
    <li>Ordered list item 3</li>
</ol>

<p>Addresses are also styled to be
    <strong>awesome</strong>!</p>
<address>
    <a href='mailto:john.doe@example.com'>john.doe@example.com</a><br/>
    <a href='tel:778-330-2389'>778-330-2389</a><br/>
    <a href='sms:666-666-6666'>666-666-6666</a><br/>
</address>
<hr/>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<hr/>

<p>The details and summary tag</p>

<details>
    <summary>Click to Open...</summary>
    <p>The HTML Details Element (details) creates a disclosure widget in which information is visible only when the widget is toggled into an "open" state.
        <small>A summary or label can be provided using the summary element.</small>
    </p>
</details>

<details open="open">
    <summary>Click to Hide...</summary>
    <p>The HTML Details Element (details) creates a disclosure widget in which information is visible only when the widget is toggled into an "open" state. A summary or label can be provided using the summary element.</p>
</details>
<hr/>
<h3>Other</h3>
<p>
    Here's a horizontal rule and image because I don't know where else to put them.
</p>
<img src='https://placekitten.com/408/287' alt='Example kitten'/>

<hr/>

<figure>
    <img src="https://placekitten.com/408/287" alt="1000px x 500px placeholder image">
    <figcaption>A random 1000px x 500px image of a person</figcaption>
</figure>