<div class="footer">
    <ul class="mt-20 d-flex list-style-type-none pb-20">
        <li>
            <a class="text-decoration-none text-white ts-10" href="/policy"
                >Data & Privacy Policy</a
            >
            <span class="ts-10">|</span>
        </li>
        <li>
            <a class="text-decoration-none text-white ts-10" href="/terms"
                >&nbsp; Terms of Use</a
            >
            <span class="ts-10">|</span>
        </li>
        {# <li>
            <a class="text-decoration-none text-white ts-10" href="#"
                >&nbsp; Credits</a
            >
            <span class="ts-10">| </span>
        </li> #}
        <li >
        <span class="text-white ts-10">
            &nbsp;This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"> Creative Commons Attribution 4.0 International License</a>
        </span>

        </li>
    </ul>
</div>