<header class="pt-80 pl-50 d-flex flex-column just-content-space-between">
    <div>
        <a href="/"><img src="/svg/logo.svg" height="40px" /></a>
        <nav class="pt-80">
            <ul class="list-style-type-none">
                <li class="pb-10">
                    <a
                        class="text-decoration-none text-white"
                        href="/about"
                        >About</a
                    >
                </li>
                <li class="pb-10">
                    <a
                        class="text-decoration-none text-white mt-20"
                        href="/philosophy"
                        >Philosophy</a
                    >
                </li>
                <li class="pb-10">
                    <a
                        class="text-decoration-none text-white"
                        href="/fips"
                        >FIPs</a
                    >
                </li>
                <li class="pb-10">
                    <a
                        class="text-decoration-none text-white"
                        href="/community"
                        >Community</a
                    >
                </li>
                {# <li class="pb-10">
                    <a
                        class="text-decoration-none text-white"
                        href="/team"
                        >Team</a
                    >
                </li> #}
                <li class="pb-10">
                    <a
                        class="text-decoration-none text-white"
                        href="/contact"
                        >Contact</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>