// /////////////////////////////////////////////////////////////////////// Fonts
// -----------------------------------------------------------------------------
$fontAssetPath: '~assets/fonts';

//////////////////////////////////////////////////////////////////////// Archivo
@font-face {
  font-family: 'Archivo';
  src: url('#{$fontAssetPath}/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Archivo Italic';
  src: url('#{$fontAssetPath}/Archivo-Italic/Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
}

// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
html, body {
  background-color: $blackPearl;
  color: white;
  font-family: $font_Primary;
  ::-moz-selection { background: white; color: black; }
  ::selection { background: white; color: black; }
}

#__nuxt {}

#__layout {
  position: relative;
  z-index: 5;
}

[class~="grid"],
[class*="grid-"],
[class*="grid_"] {
  padding: 0 4.1665%;
  [class~="grid"],
  [class*="grid-"],
  [class*="grid_"] {
    padding: 0;
  }
}
