// ///////////////////////////////////////////////////////// Imports & Variables
// -----------------------------------------------------------------------------
@import 'normalize';
@import 'grid/gridlex-2.7.1';

$fontAssetPath: '~assets/fonts';

//////////////////////////////////////////////////////////////////////// Archivo
@font-face {
  font-family: 'Archivo';
  src: url('#{$fontAssetPath}/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Archivo';
  src: url('#{$fontAssetPath}/Archivo-Italic/Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Regular.otf') format('opentype');
  font-weight: 400;
}

// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
html, body {
  background-color: $blackPearl;
  font-family: $font_Primary;
  font-size: $fontSize_Regular;
  font-weight: $fontWeight_Regular;
  line-height: $leading_MediumLarge;
  letter-spacing: $letterSpacing_Large;
  color: $blackPearl;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  ::-moz-selection { background: white; color: black; }
  ::selection { background: white; color: black; }
  &.no-scroll {
    overflow-y: hidden;
  }
  &.no-cursor {
    cursor: none;
  }
  * {
    box-sizing: border-box;
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
}

a, button, ul {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

a, button {
  cursor: pointer;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

// ///////////////////////////////////////////////////////////////// Nuxt & Grid
// -----------------------------------------------------------------------------
#__nuxt {
  position: relative;
  z-index: 2;
}

#__layout {
  overflow: hidden;
  .master-container {
    position: relative;
  }
}

.layout {
  position: relative;
  z-index: 100;
}

[class~="grid"],
[class*="grid-"],
[class*="grid_"] {
  width: $containerWidth;
  margin: 0 auto;
  @include customMaxMQ ($containerWidth + 4rem) {
    padding: 0 4.1665%;
    width: 100%;
  }
  &[class*="-noGutter"] {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    padding: 0 0.5rem;
    &.maxed {
      max-width: 90rem;
    }
  }
  &.no-padding {
    padding: 0;
  }
  [class~="grid"],
  [class*="grid-"],
  [class*="grid_"] {
    width: 100%;
    padding: 0;
  }
}

// ////////////////////////////////////////////////////////////////// Typography
// -----------------------------------------------------------------------------
h1, .h1 {
  @include h1;
  @include small {
    @include h1_small;
  }
}

h2, .h2 {
  @include h2;
}

// ////////////////////////////////////////////////////////////////// Components
// -----------------------------------------------------------------------------
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  @include tiny {
    margin-top: 1.25rem;
  }
  .button {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

// ///////////////////////////////////////////////////////////// Basic Templates
// -----------------------------------------------------------------------------
.basic-template-block-format {
  h1,
  h2 {
    margin-bottom: 1.25rem;
    @include fontSize_ExtraLarge;
    @include fontWeight_Medium;
    @include leading_Regular;
  }
  p {
    margin-bottom: 1.5rem;
    @include fontSize_Large;
    @include fontWeight_Regular;
    @include leading_Regular;
    letter-spacing: $letterSpacing_Large;
  }
  a {
    @include fontSize_Large;
    @include fontWeight_SemiBold;
    @include leading_Regular;
    letter-spacing: $letterSpacing_Large;
    color: $kleinBlue;
    // transition: 200ms ease;
    // &:hover {
    //   @include fontWeight_Bold;
    // }
  }
  ul {
    margin-bottom: 1.5rem;
    padding-left: 1.125rem;
  }
  li {
    margin-bottom: 1.5rem;
    padding-left: 0.875rem;
    @include fontSize_Large;
    @include leading_Regular;
    letter-spacing: $letterSpacing_Large;
    list-style-type: circle;
    list-style-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11'%3e%3cg id='Group_3306' data-name='Group 3306' transform='translate(-289 -1136)'%3e%3ccircle id='Ellipse_63' data-name='Ellipse 63' cx='5.5' cy='5.5' r='5.5' transform='translate(289 1136)' fill='%23144dd8'/%3e%3ccircle id='Ellipse_60' data-name='Ellipse 60' cx='3.5' cy='3.5' r='3.5' transform='translate(291 1138)' fill='%230520a3'/%3e%3c/g%3e%3c/svg%3e");
    &::marker {
      color: $kleinBlue;
      left: 0;
    }
  }
  ul li ul li {
    list-style-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11'%3e%3cg id='Group_3307' data-name='Group 3307' transform='translate(-289 -1136)'%3e%3ccircle id='Ellipse_63' data-name='Ellipse 63' cx='5.5' cy='5.5' r='5.5' transform='translate(289 1136)' fill='%23144dd8'/%3e%3ccircle id='Ellipse_60' data-name='Ellipse 60' cx='3.5' cy='3.5' r='3.5' transform='translate(291 1138)' fill='%23d8ebfb'/%3e%3c/g%3e%3c/svg%3e");
  }
  img {
    border-radius: 0.5rem;
    box-shadow: 0 0 0 .5rem $jordyBlue;
    width: 100%;
  }
  blockquote {
    margin-top: 3rem;
    margin-bottom: 3rem;
    p {
      @include fontSize_ExtraLarge;
      @include fontWeight_Medium;
      @include leading_Small;
      letter-spacing: $letterSpacing_Large;
    }
  }
  table {
    margin: 3rem 0;
    border-radius: 2px;
    th,
    tr {
      @include fontSize_Regular;
      @include fontWeight_Regular;
      @include leading_Regular;
      letter-spacing: $letterSpacing_Large;
    }
    th {
      @include fontSize_Medium;
      @include fontWeight_Medium;
      background: $polar;
      text-align: left;
    }
    th,
    td {
      padding: 0.5rem 1rem;
    }
    tr:nth-child(even) {
      background: $polar;
    }
    tr:nth-child(odd) {
      background: $hawkesBlue;
    }
  }
  pre {
    margin: 3rem 0;
    border-radius: 0.5rem;
    background-color: $blackPearl;
    box-shadow: 0 0 0 .5rem $jordyBlue;
  }
  code {
    font-family: 'Suisse Intl Mono';
    color: #9AB6CE;
  }
}
