@media (--viewport-medium) {
    .bg-fips {
        background-repeat: no-repeat;
        background-size: auto;
        background-origin: border-box;
        background-position: 0 50%;
        background-image:url(/svg/bg-fips.svg)
    }
    .bg-team,
    .bg-contact,
    .bg-grants,
    .bg-terms,
    .bg-policy,
    .bg-philosophy {
        background-repeat: no-repeat;
        background-size: auto;
        background-origin: border-box;
        background-position: 100% 0;
        background-image:url(/svg/bg-philosophy.svg)
    }
    .bg- {
        background-repeat: no-repeat;
        background-size: auto;
        background-origin: border-box;
        background-position: 100% 0;
        background-image:url(/svg/bg-index.svg)
    }
    .bg-about {
        background-repeat: no-repeat;
        background-size: auto;
        background-origin: border-box;
        background-position: 100% 0;
        background-image:url(/svg/bg-about.svg)
    }
    .bg-community {
        background-repeat: no-repeat;
        background-size: auto;
        background-origin: border-box;
        background-position: 0 50%;
        background-image:url(/svg/bg-community.svg)
    }
}
