body {
    background-color: black;
    color: white
}
p {
    margin: 0
}

hr {
    margin: 0;
}

h4 {
    margin-bottom: 0;
}

.container {
    min-height: calc(100vh - 70px);
}

a {
    color: #02d2d6;
}

.footer {
    height: 50px;
}

.bg-building {
    background-image: url('/svg/building.svg');
}
.bg-phil-particles {
    background-image: url('/svg/philosophy-particles.svg');
}
.bg-cont-particles {
    background-image: url('/svg/contact-particles.svg');
}
.bg-comnt-particles {
    background-image: url('/svg/community-particles.svg');
}
.bg-comnt-particles-2 {
    background-image: url('/svg/community-particles-2.svg');
}
.bg-about-particles {
    background-image: url('/svg/community-particles.svg');
}
.bg-fip-particles {
    background-image: url('/svg/fip-particles.svg');
}
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.just-content-center {
    justify-content: center;
}

.just-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items--space-between {
    align-items: space-between;
}
.align-self {
    align-self: center;
}
.just-content-left {
    justify-content: flex-start;
}

.align-items-left {
    align-items: flex-start;
}

.just-content-right {
    justify-content: flex-end;
}

.align-items-right {
    align-items: flex-end;
}

.w-1000 {
    width: 1000px;
}

.h-1000 {
    height: 1000px;
}

.h-100p {
    height: 100%;
}

.h-700 {
    height: 700px;
}

.m-10 {
    margin: 10px;
}

.p-10 {
    padding: 10px;
}

.pl-50 {
    padding-left: 50px;
}

.pr-50 {
    padding-right: 50px;
}
.pr-10 {
    padding-right: 10px;
}
.mr-150 {
    margin-right: 150px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-80 {
    padding-top: 80px;
}

.p-10 {
    padding: 10px;
}

.p-100 {
    padding: 100px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}
.mr-25 {
    margin-right: 25px;
}
.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-300 {
    margin-top: 300px;
}

.mt-180 {
    margin-top: 180px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-50 {
    margin-bottom: 50px;
}
.bg-seagreen {
    background-color: #02d2d6;
}

.bg-black {
    background-color: black;
}
.bg-white {
    background-color: white;
}
.text-seagreen {
    color: #02d2d6;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.br-2 {
    border: 1px solid #02d2d6;
}

.br-radius-100 {
    border-radius: 100px;
}

.ts-35 {
    font-size: 37px;
}
.ts-25 {
    font-size: 25px;
}
.ts-16 {
    font-size: 16px;
}
.fw-light {
    font-weight: normal;
}
.fw-bold {
    font-weight: bold;
}
.ts-22 {
    font-size: 22px;
}
.ts-20 {
    font-size: 20px;
}
.ts-18 {
    font-size: 18px;
}

.ts-14 {
    font-size: 14px;
}

.ts-10 {
    font-size: 10px;
}

.line-height-15 {
    line-height: 1.5;
}
.line-height-3 {
    line-height: 3;
}
.text-decoration-none {
    text-decoration: none;
}

.list-style-type-none {
    list-style-type: none;
}

.text-cursor-pointer {
    cursor: pointer;
}

.border-style-none {
    border: none;
}

.bg-cover {
    background-size: cover;
}

.w-80 {
    width: 80px;
}
.w-240 {
    width: 240px;
}
.h-300 {
    height: 300px;
}

.bd-none {
    border-style: none;
}

.bd-top {
    border-top: 2px solid #02d2d6;
}

.br-50 {
    border-radius: 50%;
}
.bg-no-rp {
    background-repeat: no-repeat;
}
.bg-pos-cont {
    background-position: 140% 0%;
}
.bg-pos-com-2 {
    background-position: -15% 55%;
}
.bg-pos-com {
    background-position: 100% 0%;
}
.bg-pos-phil {
    background-position: 120% 0%;
}
.bg-pos-fip {
    background-position: 0% 40%;
}
.z-i {
    z-index: -2;
}
.icon {
    width: 100%;
    position: relative;
    padding-top: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
