@import 'sanitize.css/evergreen.css';
@import 'sanitize.css/forms.evergreen.css';
@import 'sanitize.css/typography.css';
@import 'sanitize.css/assets.css';
@import 'sanitize.css/reduce-motion.css';

@import '_variables.css';
@import '_typography.css';
@import '_grid.css';
@import '_misc.css';
@import '_utils.css';

@import '_bgs.css';
@import '_components.css';

main {
    padding: 2rem;
}
header {
    background-color: var(--cl-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header label {
    cursor: pointer;
    font-size: 120%;
}
header a {
    flex: 1;
    text-align: center;
}

@media (--viewport-medium) {
    header {
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-bottom: 0;
        padding-top: 40px;
    }
    header label {
        display: none;
    }
    header a {
        flex: initial;
        text-align: center;
    }
}

#menu-toggle:checked ~ nav {
    transform: translateX(0);
}
nav {
    background: var(--cl-bg);
    color: var(--cl-text-emphasis);
    padding-top: 30px;
    padding-left: 50px;
}
@media (--viewport-medium) {
    nav {
        background: transparent;
    }
}
nav > ul:first-of-type {
    margin-top: 110px;
}
nav > ul:first-of-type li {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}
nav > ul:first-of-type a {
    color: var(--cl-text-emphasis);
    text-decoration: none;
}
nav > ul:first-of-type a:hover {
    color: var(--primary);
    text-decoration: none;
}

nav .footer {
    position: fixed;
    bottom: 0;
    font-size: 60%;
    padding-bottom: 1rem;
}
nav ul {
    margin: 0;
}
nav .footer li {
    padding-right: 0.5rem;
    display: inline;
}
nav .footer li:not(:first-child) {
    padding-left: 0.5rem;
}
nav .footer li:not(:last-child) {
    border-right: 1px solid white;
}

#menu-toggle {
    display: none;
}

