.Title {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    display: inline-block;
    font-size: 17px;
}

.Media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
}
.Media-item {
    flex: 1;
    margin-bottom: 5%; /* (100-30*3)/2 */
}
@media (--viewport-medium) {
    .Media {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
    }
    .Media-item {
        flex: 0 30%;
        margin-bottom: 5%; /* (100-30*3)/2 */
    }
}

.Button {
    text-align: center;
    line-height: 46px;
    vertical-align: middle;
    display: inline-block;
    width: 220px;
    height: 48px;
    border-radius: 40px;
    border: 1px solid var(--primary);
    font-weight: 600;
    color: var(--cl-text-emphasis);
}

.Icon {
    display: inline-block;
    vertical-align: bottom;
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}