<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body class="bg-{{ page.fileSlug }}">
    <header>
      <label for="menu-toggle">&#9776;</label>
      <a href="/"><img src="/assets/svg/logo.svg" height="40px"/></a>
    </header>
    <input type="checkbox" id="menu-toggle">
    <nav>
      {% include './nav.njk' %}
    </nav>
    <main>
      {% if not page.fileSlug %}
        <article>
        {{ content | safe }}
        <article>
      {% else %}
        <article style="margin-top:95px">
        <h1 class="Title">{{ title or (page.fileSlug | title) }}</h1>
        {{ content | safe }}
        <article>
      {% endif%}
    </main>
    <footer>
    </footer>
  </body>
</html>