<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'/favicon-32x32.png' | addHash}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'/favicon-16x16.png' | addHash}}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">

    {% set img = metadata.image or image %}
    {% set desc = renderData.description or description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% set titleParts = [metadata.title, title] %}
    {% if not page.fileSlug %}
      {% set titleFull = metadata.title %}
    {% else %}
      {% set titleFull = titleParts | join(" | ") %}
    {% endif %}

    <title>{{ titleFull }}</title>
    
    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ titleFull }}">
    <meta name="description" content="{{ desc | escape  }}">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ titleFull }}">
    <meta property="og:description" content="{{ desc | escape }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <meta property="og:image" content="{{ img | absoluteUrl(metadata.url) }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">

    <!-- JSON-LD -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "{{ metadata.title }}",
        "description": "{{ metadata.description }}",
        "url": "{{ metadata.url }}",
        "logo": "{{ metadata.image | absoluteUrl(metadata.url) }}"
      }
    </script>

    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <!-- This is a blog and so it SHOULD be safe and it is nice for the web to send referrers cross-origin. However, if you use sensitive data in URLs, consider changing this to a value like `origin-when-cross-origin` https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy -->
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="preconnect" href="/" crossorigin="crossorigin">
  </head>
  <body class="bg-{{ page.fileSlug }}">
    <header>
      <label for="menu-toggle">&#9776;</label>
      <a href="/" title="Homepage"><img src="/assets/svg/logo.svg" width="280px" height="40px" alt="Filecoin Logo"/></a>
    </header>
    <input type="checkbox" id="menu-toggle">
    <nav>
      {% include './nav.njk' %}
    </nav>
    <main>
      {% if not page.fileSlug %}
        <article>
          {{ content | safe }}
        <article>
      {% else %}
        <article style="margin-top:95px">
          <h1 class="Title">{{ title or (page.fileSlug | title) }}</h1>
          {{ content | safe }}
        <article>
      {% endif %}
    </main>
    <footer></footer>
  </body>
</html>