<ul>
    <li>
        <a href="{{ rootPath }}about">About</a>
    </li>
    <li>
        <a href="{{ rootPath }}philosophy">Philosophy</a>
    </li>
    <li>
        <a href="{{ rootPath }}fips">FIPs</a>
    </li>
    <li>
        <a href="{{ rootPath }}filplus">Filecoin Plus</a>
    </li>
    <li>
        <a href="{{ rootPath }}grants">Grants</a>
    </li>
    <li>
        <a href="{{ rootPath }}community">Community</a>
    </li>
    <li>
        <a href="{{ rootPath }}careers">Careers</a>
    </li>
    <li>
    <a href="{{ rootPath }}team">Team</a>
      </li>
    <li>
        <a href="{{ rootPath }}blog">Blog</a>
    </li>
    <li>
        <a href="{{ rootPath }}contact">Contact</a>
    </li>
</ul>

<div class="footer">
    <ul>
        <li>
            <a href="{{ rootPath }}policy">Data & Privacy Policy</a>
        </li>
        <li>
            <a href="{{ rootPath }}terms">Terms of Use</a>
        </li>
    </ul>
    <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license" style="text-decoration:none">
        <svg class="Icon">
            <use xlink:href="{{ rootPath }}symbol-defs.svg#icon-cc"></use>
        </svg>
        <svg class="Icon">
            <use xlink:href="{{ rootPath }}symbol-defs.svg#icon-by"></use>
        </svg>
    </a>
    <span xmlns:cc="https://creativecommons.org/ns#" about="https://creativecommons.org">
        <p style="margin:0">Content on this site is licensed under a
            <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International license</a>.
        </p>
    </span>
</div>
